In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Web Scraping Assignment - Web Scraping Assignment.csv",na_values = ["??",'null'])

In [3]:
df.head()

,",",COLLEGE NAME,WEBSITE,ADRESS
0,1,"Abhinava Bharathi College of Pharmacy, Mandya",NaN,NaN
1,2,"Academy Of Management Studies, Hyderabad",http://www.useams.org/,NaN
2,3,"Academy Of Mass Communication, Lucknow",https://www.amclko.org/,NaN
3,4,Acharaya Shri Chander College Of Medical Scien...,http://ascomscollege.com/,NaN
4,5,"Acharya Institutes of Science & Management, Ba...",https://www.acharya.ac.in/,NaN

In [4]:
df.columns

Index([',', 'COLLEGE NAME', ' WEBSITE', 'ADRESS'], dtype='object')

In [5]:
import requests
from bs4 import BeautifulSoup
import numpy as np

In [6]:
def scrape_address(url):
    try:
        response = requests.get(url)
        soup = BeautifulSoup(response.content, 'html.parser')
        address = soup.find('address').text.strip()
        return address
    except (AttributeError, requests.exceptions.RequestException):
        return ''

In [7]:
df['ADRESS'] = df[' WEBSITE'].apply(scrape_address)

Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.

In [13]:

df.to_csv('colleges_with_address.csv', index=False)